In [10]:
import pandas as pd
import numpy as np

s=pd.Series()
print(s)

Series([], dtype: float64)

In [11]:
n=np.array(['a','b','c','d','e','f'])
s=pd.Series(n)
print(s)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [48]:
i=np.array([101,102,103,104,105,106])

In [49]:
s1=pd.Series(n,index=i)
print(s1)

101    a
102    b
103    c
104    d
105    e
106    f
dtype: object

In [70]:
data = {"key" : 10, 'a': 20, 99: 30, 2.71828: 40, True: 50, False: 60,99:50,  "key":50, 1:100, 1.1:51, 0:100}
s = pd.Series(data,index=["key",'a',99,2.71828,True, False])
print(s)
print(s[0:1])

key         50
a           20
99          50
2.71828     40
True       100
False      100
dtype: int64
key    50
dtype: int64

In [72]:
i=np.array(['a',1,2,3,4,5])
s=pd.Series(5,index=i) #scalar '5' will be copied in each entry
print(s[0:2])

a    5
1    5
dtype: int64

In [93]:
i=np.array( [1,2,3,4,6] )
n=np.array( [1,2,3,4,6] )
s=pd.Series(n,index=i)            #scalar '5' will be copied in each entry
print( s)
print(s[[1,3,6]])

1    1
2    2
3    3
4    4
6    6
dtype: int32
1    1
3    3
6    6
dtype: int32

In [97]:
#panda DataFrame

In [99]:
data=[1,2,3,4,5]
d=pd.DataFrame(data)
print(d)

   0
0  1
1  2
2  3
3  4
4  5

In [103]:
data=[1,2,3,4,5]
d=pd.DataFrame(data, columns=['num'])
print(d)

   num
0    1
1    2
2    3
3    4
4    5

In [109]:
data=[['Alex',23],['Jais',31],['Saurav', 28]]
d=pd.DataFrame(data,columns=['Name','Age'],index=[1,2,3], dtype=int)
print(d)

     Name  Age
1    Alex   23
2    Jais   31
3  Saurav   28

In [118]:
data={ 'Name':['Jais','sourav','rahul'], 'age': [31,28,27]}
d=pd.DataFrame(data,index=['a','b','c'] )
print(d)

     Name  age
a    Jais   31
b  sourav   28
c   rahul   27

In [130]:
data=[ { 'Name':'Jais', 'age': 31},{ 'Name':'Vivek', 'age':28,'height': 165 }]
d=pd.DataFrame(data )
print(d)

    Name  age  height
0   Jais   31     NaN
1  Vivek   28   165.0

In [129]:
data=[ { 'Name':'Jais', 'age': 31},{ 'Name':['Vivek','jais'], 'age':[28,31],'height': [165,167] }]
d=pd.DataFrame(data )
print(d)

            Name       age      height
0           Jais        31         NaN
1  [Vivek, jais]  [28, 31]  [165, 167]